.nav-tabs.blue-tabs {
  border-bottom: 0;
  padding-bottom: 30px;
}

.nav-tabs.blue-tabs .nav-item {
  margin-right:20px;
}

.nav-tabs.blue-tabs .nav-item:last-child {
  margin-right:0;
}

.nav-tabs.blue-tabs .nav-link {
  border: none;
  padding: 0 0 10px 0;
  background: white;
  border-radius: 0;
  margin: 0;
  font-family: 'Rift', sans-serif !important;
  font-size: 1.3rem;
  font-weight: 500 !important;
  letter-spacing: 0.04rem;
  color: #001C43;
}




.nav-tabs.blue-tabs .nav-link.active {
  border-bottom:2px solid #66DFF0;
}
