/* -- Icon cards --*/

.icon-cards.cards > div {
  padding: 0 10px;
  display: flex;
  flex: 1;
  min-width: 180px;
}

@media screen and (min-width: 992px) {
  .icon-cards.cards > div {
    min-width: auto;
  }
}


.icon-cards > div {
  padding: 0 15px;
}

.icon-cards .card {
  width: 100%;
}

.icon-cards .card-header {
  border: none;
  border-radius: 0px;
  padding: 20px;
}

.icon-cards .card-body {
  padding:0 20px 20px 20px;
}

@media screen and (min-width: 992px) {
  .icon-cards .card-header {
    border: none;
    border-radius: 0px;
    padding: 30px;
  }

  .icon-cards .card-body {
    padding:0 30px 30px 30px;
  }
}

.icon-cards .cards {
  padding: 15px;
}


.icon-badge {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  border-radius:100px;
}

.icon-badge.medium {
  width: 66px;
  height: 66px;
}

.icon-badge.blue {
  background:#66DFF0;
}

.icon-badge.green {
  background:#99F3BB;
}

.icon-badge.yellow {
  background:#FDCA3F;
}

.icon-badge.pink {
  background:#D85094;
}

.icon-badge.purple {
  background:#A959F1;
}

.icon-badge i {
  display: block;
  width:44px;
  height:44px;
  background-size:contain;
}

.icon-badge.medium i {
  width:34px;
  height:34px;
}

@media screen and (min-width: 576px) {
  .icon-badge i {
    width:24px;
    height:24px;
    background-size:contain !important;
  }
}

@media screen and (min-width: 768px) {
  .icon-badge i{
    width:44px;
    height:44px;
  }
}


.icon-badge.blue i {
  background: url("/DIGI2/Theme/icons/icon_graph-white.svg") no-repeat center;
}

.icon-badge.yellow i {
  background: url("/DIGI2/Theme/icons/icon_check-white.svg") no-repeat center;
}

.icon-badge.purple i {
  background: url("/DIGI2/Theme/icons/icon_star-white.svg") no-repeat center;
}

.icon-badge.green i {
  background: url("/DIGI2/Theme/icons/icon_cash-white.svg") no-repeat center;
}

.icon-badge.pink i {
  background: url("/DIGI2/Theme/icons/icon_hand-white.svg") no-repeat center;
}

.icon-cards h2 {
  color:#222222;
  font-weight: 500;
  letter-spacing: 0.03rem;
  font-size: 0.85rem;
  margin-bottom:10px;
}

.icon-cards.cards {
  color:#001C43;
  border-radius: 0;
  width: calc(100% + 20px);
  position: relative;
  left: -10px;
}

.icon-cards .card {
  margin-bottom:0;
}

.icon-cards .card .card-img-top {
  border-radius:0;
  height: 120px;
  object-fit: cover;
}

.icon-cards h3 {
  letter-spacing: 0.04rem;
  font-weight: 500 !important;
}

.icon-cards .card h4 {
  font-size: 1.2rem !important;
  letter-spacing: 0.04rem;
  font-weight: 500 !important;
}

.icon-cards .card h5 {
  letter-spacing: 0.04rem;
  font-weight: 500 !important;
}

.icon-cards .card .card-text {
  font-size: 0.85rem;
  color:#001C43;
}

.icon-cards.cards > div {
  display: block;
  width: 100%;
  min-width: 100%;
  padding-bottom: 15px;
}

@media screen and (min-width: 576px) {
  .icon-cards.cards.three-col > div {
    display: flex;
    flex: 50%;
    width: 50%;
    min-width:initial;
    max-width: 50%;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .icon-cards.cards.three-col > div {
    flex: 33.33%;
    width: 33.33%;
    max-width: 33.33%;
    padding-bottom: 15px;
  }
}
