/* -- Default --*/

.box-shadow {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08) !important;
}

@media screen and (min-width: 768px) {

  .mini-sidebar .page-wrapper {
    margin-left:0;
    /*margin-left: 60px;*/
  }

}

/* -- Page wrapper --*/


.page-wrapper {
  padding-top:0 !important;
}

.page-wrapper > div {
  padding: 70px 0 0 0;
}

@media screen and (min-width: 768px) {
  .page-wrapper> div {
    padding:30px;
  }
}

/* -- Btn --*/


.page-wrapper .btn {
  display: flex;
  align-items: center;
}

/* -- Headings --*/


.page-wrapper h1 {
  color:#222222;
  letter-spacing: 0.05rem;
  margin-bottom:0;
  font-weight: 500;
  font-size: 1.9rem !important;
}

#dash #investment h2 {
  color:#222222;
  font-weight: 500;
  letter-spacing: 0.03rem;
  font-size: 0.85rem;
}


.page-wrapper h3 {
  color:#222222;
  letter-spacing: 0.05rem;
  font-weight: 500;
}



/* -- Dash --*/

#dash {
  background:white;
  min-height: 100% !important;
}

@media screen and (min-width: 768px) {

  #dash #quick-links .row > div {
    border-right:1px solid #DFDFDF;
    padding:0 30px;
  }

  #dash #quick-links .row > div:first-child {
    padding-left:15px;
  }

  #dash #quick-links .row > div:nth-child(2) {
    border-right:0;
    padding-right:15px;
  }

  #dash #quick-links .row > div:last-child {
    border-top:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
    border-right:0;
    padding:30px 15px;
  }

}

@media screen and (min-width: 992px) {

  #dash #quick-links .row > div:nth-child(2) {
    border-right:1px solid #DFDFDF;
    padding-right:30px;
  }

  #dash #quick-links .row > div:last-child {
    border-top:0;
    border-bottom:0;
    border-right:0;
    padding:0 15px 0 30px;
  }

}

#dash #quick-links .list-group {
  padding-top:20px;
}

#dash #quick-links .list-group-item {
  padding: 0;
  background: none;
  color: white;
  border:none;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

#dash #quick-links .list-group-item a {
  color:#222222;
}

#dash #quick-links .list-group-item:before {
  content:'';
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background: url("/DIGI2/Theme/icons/icon_document-blue.svg") no-repeat center;
  background-size:contain;
}

#dash .chart-container {
  max-width: 300px;
  margin: 0 auto;
}


#dash #investment {
  padding: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  #dash #investment {
    padding: 0;
  }
}

#dash #investment > div:first-child {
  padding-right: 15px;
  padding-left: 15px;
}

#dash #investment .card {
  margin:0;
}

#dash #investment .card h5 {
  font-size: 1.2rem !important;
}

#dash .icon-cards {
  padding: 0 15px;
}


#dash #investment .icon-cards.cards {
  overflow: auto;
  padding: 15px;
  margin-top: -15px;
}

#dash #investment .icon-cards.cards .card {
  text-align:center;
  border-radius: 0;
}

@media screen and (min-width: 768px) {

  #dash #investment {
    min-width: calc(100% + 60px);
    left: -30px;
  }

  #dash #investment > div:first-child {
    padding-right: 30px;
    padding-left: 30px;
  }

  #dash #investment .icon-cards.cards {
    padding: 15px 30px;
  }

}


@media screen and (min-width: 992px) {

  #dash #investment {
    min-width: 100%;
    left: 0;
  }

  #dash #investment > div:first-child {
    padding-right: 15px;
    padding-left: 15px;
  }

  #dash #investment .icon-cards.cards {
    padding: 15px;
  }

  #dash #investment .icon-cards.cards {
    overflow: initial;
  }

}

#dash #investment .cards > div:first-child {
  padding-left:0;
}

#dash #investment .cards > div:last-child {
  padding-right:0;
}



#dash .icon-cards .card h5 {
  min-height:55px;
  display: flex;
  align-items: center;
  margin:0;
}


/* -- Investment choices --*/

#investment-choices .icon-cards.cards {
  flex-wrap: wrap;
}

#investment-choices .icon-cards.cards > div {
  display: block;
  width: 100%;
  min-width: 100%;
  padding-bottom: 15px;
}

@media screen and (min-width: 576px) {
  #investment-choices .icon-cards.cards > div {
    display: flex;
    flex: 50%;
    width: 50%;
    min-width:initial;
    max-width: 50%;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  #investment-choices .icon-cards.cards > div {
    flex: 33.33%;
    width: 33.33%;
    max-width: 33.33%;
    padding-bottom: 15px;
  }
}

#investment-choices .icon-cards.cards .buttons .btn {
  margin: 5px;
}

#investment-choices .icon-cards.cards .buttons a:first-child {
  margin-left: 0;
}

#investment-choices .icon-cards.cards .buttons a:last-child {
  margin-right: 0;
}
