/* -- Default --*/

.box-shadow {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08) !important;
}

@media screen and (min-width: 768px) {

  .mini-sidebar .page-wrapper {
    margin-left:0;
    /*margin-left: 60px;*/
  }

}

/* -- Page wrapper --*/


.page-wrapper {
  padding-top:0 !important;
}

.page-wrapper > div {
  padding: 70px 0 0 0;
}

@media screen and (min-width: 768px) {
  .page-wrapper > div {
    padding: 0;
  }
}

/* -- Btn --*/


.page-wrapper .btn {
  display: flex;
  align-items: center;
}

/* -- Headings --*/



#dash #investment h2 {
  color:#222222;
  font-weight: 500;
  letter-spacing: 0.03rem;
  font-size: 0.85rem;
}


.page-wrapper h3 {
  color:#222222;
  letter-spacing: 0.05rem;
  font-weight: 500;
}


#heading {
  border-bottom:1px solid #EDEDED;
  background:white;
  width: calc(100% + 80px);
  position: relative;
  left: -40px;
}

#heading h1 {
  color:#222222;
  letter-spacing: 0.05rem;
  margin-bottom:0;
  font-weight: 500;
  font-size: 1.6rem !important;
  padding: 15px 20px;
}




/* -- Investment choices --*/

#investment-choices {
  background: white;
  padding:40px;
}

#investment-choices .icon-cards.cards {
  flex-wrap: wrap;
}


#investment-choices .icon-cards.cards .buttons .btn {
  margin: 5px;
}

#investment-choices .icon-cards.cards .buttons a:first-child {
  margin-left: 0;
}

#investment-choices .icon-cards.cards .buttons a:last-child {
  margin-right: 0;
}
