
/* -- Sidebar icons --*/

#sidebarnav > li > a {
  border: 0 !important;
  margin-left: 26px !important;
}

#sidebarnav .home {
  background: url("/DIGI2/Theme/icons/icon_home.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .home:hover {
  background: url("/DIGI2/Theme/icons/icon_home-blue.svg");
  background-repeat: no-repeat;
}

#sidebarnav .my-details {
  background: url("/DIGI2/Theme/icons/icon_mydetails.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .my-details:hover {
  background: url("/DIGI2/Theme/icons/icon_mydetails-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .documents {
  background: url("/DIGI2/Theme/icons/icon_documents.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .documents:hover {
  background: url("/DIGI2/Theme/icons/icon_documents-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .pension {
  background: url("/DIGI2/Theme/icons/icon_pension.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .pension:hover {
  background: url("/DIGI2/Theme/icons/icon_pension-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .investments {
  background: url("/DIGI2/Theme/icons/icon_investments.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .investments:hover {
  background: url("/DIGI2/Theme/icons/icon_investments-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .help-guides {
  background: url("/DIGI2/Theme/icons/icon_help.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .help-guides:hover {
  background: url("/DIGI2/Theme/icons/icon_help-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .support {
  background: url("/DIGI2/Theme/icons/icon_support.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .support:hover {
  background: url("/DIGI2/Theme/icons/icon_support-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .portfolio {
  background: url("/DIGI2/Theme/icons/icon_portfolio.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .portfolio:hover {
  background: url("/DIGI2/Theme/icons/icon_portfolio-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

#sidebarnav .messages {
  background: url("/DIGI2/Theme/icons/icon_messages.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 0 16px !important;
}

#sidebarnav .messages:hover {
  background: url("/DIGI2/Theme/icons/icon_messages-blue.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 0 16px !important;
}

#sidebarnav .investments {
  background: url("/DIGI2/Theme/icons/icon_investment_choices.svg");
  background-repeat: no-repeat;
  background-position: 0 12px;
}

#sidebarnav .investments:hover {
  background: url("/DIGI2/Theme/icons/icon_investment_choices-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 12px;
}
