/* Main wrapper & sidebar */

client-component .page-wrapper {
  padding-top:70px !important;
  width:100%;
}

.dark-logo.img-fluid {
  max-width: initial;
  max-height:40px;
  height:40px !important;
}

.left-sidebar.show-menu-sm {
  left:0 !important;
}

.left-sidebar.hide-menu-sm {
  /*left:-240px !important;*/
  display:none;
}

.mini-sidebar .scroll-sidebar {
  width: 100%;
}

.mini-sidebar .sidebar-nav #sidebarnav > li > a {
  width: calc(100% - 26px);
}

.mini-sidebar .page-wrapper {
  padding-top: 0px !important;
}

.mini-sidebar .scroll-sidebar {
  position: relative;
  padding:10px 0;
}

.sidebar-nav ul li p {
  margin-bottom:0;
}

.fix-sidebar .page-wrapper {
  padding-top: 70px !important;
}

#dash.page-wrapper {
  padding-left:0 !important;
  padding-top:0 !important;
}


client-component {
  display: flex;
  flex-wrap: wrap;
}

common-header {
  display: flex;
  width: 100vw !important;
  height: auto;
  min-width: 100vw !important;
}

.mini-sidebar .page-wrapper {
  position: relative !important;
  height: auto !important;
}

#navbarsExampleDefault {
  position: relative !important;
  width: 100% !important;
}


@media (min-width: 768px) {

  .left-sidebar {
    overflow: initial;
  }

  .mini-sidebar .left-sidebar {
      left:0 !important;
  }

  .mini-sidebar .scroll-sidebar {
    position: relative !important;
    padding:10px 0 !important;
  }

  .mini-sidebar .sidebar-nav #sidebarnav > li > a {
    width:auto !important;
  }

}


@media screen and (min-width: 992px) {
  #navbarsExampleDefault, .mini-sidebar .left-sidebar {
    position: absolute !important;
    width: 240px !important;
  }
  .mini-sidebar .page-wrapper {
    padding-left:240px;
    padding-top: 70px !important;
  }
  .fix-sidebar .page-wrapper {
    padding-left:0;
  }
}

@media (min-width: 1024px) {

  .page-wrapper, .fix-sidebar .page-wrapper {
    margin-left:0 !important;
  }

}


/* Product page */

productpage .card-title:not(productpage .bg-deepblue .card-title) {
  border-bottom: 1px solid #DFDFDF;
  margin: 0 !important;
  padding: 15px 30px;
}

productpage .card-title h2 {
  margin:0;
}

table[_ngcontent-tjd-c5] thead[_ngcontent-tjd-c5] tr[_ngcontent-tjd-c5] th[_ngcontent-tjd-c5] {
  font-weight: 600 !important;
}

productpage .row .bg-deepblue:not(productpage #summaryTab .bg-deepblue) {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  padding-bottom:0 !important;
  position: relative;
  padding:30px 20px !important;
}

productpage .row .bg-deepblue:not(productpage #summaryTab .bg-deepblue) > div {
  min-width: 150px;
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
}

productpage .row .bg-deepblue:not(productpage #summaryTab .bg-deepblue) > div .card {
  margin-bottom:0 !important;
}

productpage .invester-illips

@media screen and (min-width: 992px) {

  productpage .row .bg-deepblue:not(productpage #summaryTab .bg-deepblue) {
    display: flex;
    overflow: inherit;
    flex-wrap: wrap;
    padding:50px;
  }

}

productpage #summaryTab .card-body {
  padding:0;
}

productpage .col-12 > div.p-3  {
  border-bottom: 1px solid #DFDFDF;
}

productpage #summaryTab .bg-deepblue div.p-3 {
  padding-bottom: 0 !important;
  border-bottom: 1px solid #1c3e6f;
}


productpage #summaryTab .bg-deepblue div.p-3 .row {
  display: block;
}

productpage #summaryTab .bg-deepblue div.p-3 .row > div {
  max-width:100%;
}

productpage #summaryTab .bg-deepblue .table td {
 padding: 5px 0;
}

productpage #summaryTab .bg-deepblue .customtab .nav-link.active {
  border-bottom: 2px solid #66DFF0;
  padding-bottom: 8px;
}

productpage #summaryTab .bg-deepblue .customtab .nav-link h3 {
  color:white !important;
  margin:0;
}

@media screen and (min-width: 768px) {

  productpage #summaryTab .bg-deepblue .table td {
   padding: 18px 15px;
  }

  productpage #summaryTab .bg-deepblue .ct-chart-donut {
    height: 160px !important;
    width: 160px !important;
  }

}

@media screen and (min-width: 992px) {

  productpage #summaryTab .bg-deepblue .tab-content {
    padding:20px 40px 0 40px !important;
  }

}

@media screen and (min-width: 1200px) {

  productpage #summaryTab .bg-deepblue .ct-chart-donut {
    height: 200px !important;
    width: 200px !important;
  }

}
